---
import Layout from '../layouts/Layout.astro';
// blogフォルダの中にあるすべてのMarkdownファイルを自動で読み込みます！
const allPosts = await Astro.glob('./blog/*.md');
---

<Layout title="ブログ一覧">
  <main>
    <h1>研究・開発ブログ</h1>
    <ul>
      {allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a> ({post.frontmatter.pubDate})
        </li>
      ))}
    </ul>
  </main>
</Layout>

